.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-list__item {
  flex-basis: calc((100% - 150px) / 6);
  height: 92px;
}

.clients-list__link {
  @extend %flexcenter;
  width: 100%;
  height: 100%;
  border: 1px solid $primary-brd-color;
  border-radius: 4px;
  color: $primary-brd-color;
  transition: border $timing-function, color $timing-function;
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    color: $accent-color;
  }
}

.clients-list__icon {
  fill: currentColor;
}
