$address-bgr-color: rgba(255, 255, 255, 0.6);

.address {
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
 
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-white-color;
  transition: color $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address__link--grey {
  color: $address-bgr-color;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
