.contacts {
  @media screen and (min-width: 1600px) {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 50px;
  }
}

.contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $secondary-text-color;
  transition: color $timing-function;
  @extend %flexcenter;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
