$logo-primary-color: #2196f3;
$logo-header-color: #000000;
$logo-footer-color: #ffffff;
$logo-font: "Raleway", sans-serif;


.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  color: $logo-primary-color;
  font-family: $logo-font;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__logo {
  color: $logo-header-color;
}

.footer__logo {
  color: $logo-footer-color;
}
