.feature {
  padding-bottom: 0;
}

.feature-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.feature-list__item {
  flex-basis: calc((100% - 90px) / 4);
}

.feature-list__thumb {
  @extend %flexcenter;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  background: $primary-bgr-color;
  border-radius: 4px;
}

.feature-list__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}
