$footer-bgr-social-link-color: rgba(255, 255, 255, 0.1);

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondary-bgr-color;
}

.footer__container {
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__wrap {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 165px;
    margin-bottom: 60px;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__wrap-social {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer__wrap-subscribe {
  @media screen and (max-width: 1199px) {
    max-width: 450px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
  margin-bottom: 20px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer__social-link {
  background-color: $footer-bgr-social-link-color;
  color: $primary-white-color;
  transition: background-color $timing-function;
}
