$header-brd-color: #ececec;

.header {
  border-bottom: 1px solid $header-brd-color;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 767px) {
    position: relative;
  }
}

.header__nav-wrap {
  @media screen and (max-width: 767px) {
    display: none;
  }
  .menu-container.is-open & {
  display: block;
}



  // display: flex;
  // align-items: center;
}
