$header-brd-color: #ececec;

.header {
  border-bottom: 1px solid $header-brd-color;
}

.header__container {
  @media screen and (min-width: 1600px) {
    display: flex;
  }
  
}

.header__nav-wrap {
  @media screen and (min-width: 1600px) {
  display: flex;
  align-items: center;
  }
}


