$hero-bgr-color: #c4c4c4;
$hero-btn-accent: #188ce8;
$hero-bgr-gradient: linear-gradient(
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
);

.hero {
  margin: 0 auto;
  padding: 118px 0;
  background-image: $hero-bgr-gradient, url(../images/hero_mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $hero-bgr-color;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: $hero-bgr-gradient, url(../images/hero_mobile_2x.jpg);
  }

  @media screen and (min-width: 480px) {
    background-image: $hero-bgr-gradient, url(../images/hero_tablet.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: $hero-bgr-gradient, url(../images/hero_tablet_2x.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    padding: 200px 0;
    background-image: $hero-bgr-gradient, url(../images/hero_desktop.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: $hero-bgr-gradient, url(../images/hero_desktop_2x.jpg);
    }
  }
}

.hero__title {
  margin: 0 auto 30px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-white-color;

  @media screen and (min-width: 480px) {
    font-size: 26px;
    line-height: 1.61;
    max-width: 360px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__button {
  display: inline-block;
  transition: background-color $timing-function;
  &:hover,
  &:focus {
    background-color: $hero-btn-accent;
  }

  @media screen and (min-width: 1200px) {
    min-width: 216px;
  }
}
