.nav-mobile {
  
  @media screen and (max-width: 767px) {
    display: none;
  }
  .menu-container.is-open & {
    display: block;
  }
}

.nav-mobile__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
