.nav-mobile {
  height: 100%;
  @media screen and (max-width: 767px) {
    display: none;
  }
  .menu-container.is-open & {
    display: block;
  }
}

.nav-mobile__wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;

}
