$box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);

.team {
  background-color: $primary-bgr-color;
}

.employees-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.employees-list__item {
  flex-basis: calc((100% - 90px) / 4);
  background: $primary-white-color;
  border-radius: 0px 0px 4px 4px;
  box-shadow: $box-shadow;
}

.employees-list__content {
  padding-top: 30px;
}

.employees-list__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.employees-list__expert {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}

.employees-list__link {
  background-color: transparent;
  color: $primary-brd-color;
  transition: background-color $timing-function, color $timing-function;
}

