.toggle-container {
  width: auto;
  height: 60px;
  position: relative;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  border: 0;
  background-color: transparent;
  &:focus .icon-menu,
  &:focus .icon-close {
    fill: $accent-color;
  }
}

.icon-close,
.icon-menu {
  fill: currentColor;
}

.js-close-menu {
  right: 15px;
}

.menu-container {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  display: none;
  padding: 48px 40px;
  width: 100%;
  height: 100vh;
  background-color: $primary-white-color;
}

.menu-container.is-open {
  display: block;
}

.menu-container.is-open + .toggle-container {
  display: none;
}
