.toggle-container {
  width: auto;
  height: 60px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-toggle {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  &:focus .icon-menu,
  &:focus .icon-close {
    fill: $accent-color;
  }
}

.icon-close,
.icon-menu {
  fill: currentColor;
}

.menu-container {
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
  display: none;
  padding: 48px 40px;
  width: 100%;
  max-width: 480px;
  max-height: 796px;
  background-color: $primary-white-color;
  outline: 2px solid blue;
}

.js-close-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.menu-container.is-open {
  display: block;
}

.menu-container.is-open + .toggle-container {
  display: none;
}
